/* General Styles */
body {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Courier New', monospace;
}


/* Command Line Interface Container */
#cli-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 50;
  overflow-y: hidden;
  height: 50vh;
  width: 100vh;
  scroll-behavior: smooth;
  margin: 10px;
  max-height: calc(100vh - 20px);
}


/* CLI Content Area */
#cli-content {
  overflow-y: auto;
  height: 100%;
  flex-direction: column;

  /* Hide scrollbar */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
#cli-content::-webkit-scrollbar {
  width: 6px;
}
#cli-content::-webkit-scrollbar-thumb {
  background-color: transparent;
}
#cli-content > div {
  margin-bottom: 10px; /* Adjust the margin between messages */
}


/* CLI Input Field */
#cli-prompt {
  color: #ffffff;
  margin-top: auto;
}

#cli-input {
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #000000;
  font-family: 'Courier New', monospace;
}


/* Room Information, Moves Information, Score Information */
#room-info,
#moves-info,
#score-info {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 3vw;
  z-index: 100;
}

#room-info {
  left: 0;
  background-color: #727171;
  text-align: center;
}

#moves-info {
  margin-left: 15%;
  padding: 10px;
}

#score-info {
  margin-left: 160%;
  padding: 10px;
}


/* ASCII Art */
#ascii-art {
  position: fixed;
  top: 30%;
  left: 14%;
  right: 0;
  margin-bottom: 25%;
  font-size: 3vw;
  animation: fadeOut 5s forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
